rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow all reads and writes to all collections
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
